<footer>
	<div class="container_12">
        <div class="grid_5"> 
            <h1 class="footer-logo"><a href="./index.php">Ping Tan Construction</a></h1>
            <p class="privacy mrg3">&copy;<span id="copyright-year"></span> | <a href="index-6.html">Privacy Policy</a></p>
            <div class="socials">
                <a href="https://www.facebook.com/Ping-Tan-Construction-Pte-Ltd-1569809496594249/?fref=ts" target="_blank">
                    <img src="images/icon2.png" alt="">
                </a>
            </div>
        </div>
        <div class="grid_4 flt">
            <h4 class="p3">overview</h4>
            <ul class="list">
                <li><a href="./aboutUs.php">About Us</a></li>
                <li><a href="./team.php">Our Team</a></li>
                <li><a href="./project.php">Projects</a></li>
                <li><a href="./service.php">Services</a></li>
                <li><a href="./contacts.php">Contact</a></li>
                <li><a href="./career.php">Career</a></li>
            </ul>
        </div>
	</div>
</footer>