<header id="header">
    <section class="top">
        <div class="container_12">
            <div class="grid_12 txt1">
                <h1 class="logo"><a href="index.php">Ping Tan</a></h1>
                <section class="menu">
                    <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                        <ul class="sf-menu">
                            <li class="current"><a href="index.php">home</a></li>
                            <li><a href="#">about</a>
                                <ul>
                                    <li><a href="aboutUs.php">About Us</a></li>
                                    <!--<li><a href="#">news</a>
                                        <ul>
                                            <li><a href="#">latest</a></li>
                                            <li><a href="#">archive</a></li>
                                        </ul>
                                    </li>-->
                                    <li><a href="team.php">Our Team</a></li>
                               </ul>
                            </li>
                            <li><a href="service.php">services</a></li> 
                            <li><a href="project.php">projects</a></li>
                            <li><a href="blog.php">career</a></li>
                            <li><a href="contact.php">contacts</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </section>
</header>