/**** Header ****/
#DMXNavbar{

    border:none;
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    top:4px;
}

.navbar-dmx .navbar-brand{
    padding-top:0;
    padding-left:15px;
}
.navbar-dmx .navbar-collapse{
    padding-right: 0;
}
.navbar-dmx .navbar-nav{
    margin-left: 300px;
}
.navbar-dmx .navbar-nav li a{
    color: #000;
}
.navbar-dmx .navbar-nav li a:hover{
    color: #fff;
}
.above-header-bg{
    position: fixed;
    background-color: #fff;
    top:0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 9999;
}
.below-header-bg{
    position: fixed;
    background-color: #fff;
    top:96px;
    left: 0;
    width:100%;
    height: 6px;
    z-index: 9999;
}

/**** Footer ****/
footer{

    /* Set the fixed height of the footer here */
    position:relative;
    width:100%;
    bottom: auto;
    height:142px;
    background-color: rgba(223, 223, 223, 0.9);
}
.footer-content{
    padding-top: 10px;
}
#subscribe_btn{
    border-radius:0;
}
.single-widget h2{
    margin-top: 10px;
    color: #000;
}
.single-widget ul li{
    color: #000;
}

.certificate-logo{
    margin-bottom: 5px;
}
.certificate-logo img{
    width: 100%;
}
.footer-copyright{
    position:absolute;
    bottom:10px;
    right:0;
    text-align: center;
    color: #000;
}
.footer-social-btns{
    position:absolute;
    bottom:30px;
    right:0;
    text-align: left;
}
.footer-social-btns h5{
    text-align: left;
    padding-left: 33px;
    font-weight: 400;
    color: #000;

}
.footer-copyright .copyright-text{
    /*color: #fff;*/
}
.search_box .form-control{
    background-color: #fff;
}
/**** Utility ****/
.dropdown-menu{
    margin:0;
    width:100%
}
.dropdown-menu li > ul{
    width:100%;
    padding-left:35px;
}
.dropdown-menu li > ul li{
    width:20px
}
.dropdown-menu li > ul li:hover{
    background: #E6E6E6;
}
h5{
    text-align: center;
    margin-top: 0
}

.row-no-right-margin{
    margin-right:0;
}

.team-bonding-carousel{
    padding:0;
    z-index: 1000;
}

.team-bonding-carousel img{
    width: 100%;
}
/**** Service page ****/
.btn-service{
    border-radius: 0;
    background: none;
}
.btn-service:hover{
    background-color: rgba(204, 204, 204, 0.5);
    transform: rotateY(360deg);
}
.btn-service {
    transition: 0.8s;
    transform-style: preserve-3d;
}
.active-service{
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff !important;
}

.typography-1{
    color: #4c4a37; 
    font-family: 'Open sans', sans-serif; 
    font-size: 16px; 
    line-height: 32px; 
    margin: 0 0 24px;
    text-align: justify;
}
.typography-2{
    color: #4c4a37; 
    font-family: 'Verdana', sans-serif; 
    font-size: 14px; 
    line-height: 26px; 
    text-indent: 30px; 
    text-align: justify;
    margin: 0;
}
.custom-header-1{
    color: #d04764; 
    font-family: 'Lobster', cursive; 
    font-size: 36px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #fff; 
    text-align: center;
}
.custom-header-2{
    color: #d04764;
    font-size: 30px; 
    font-weight: 300;
    letter-spacing: -1px; 
    text-transform: uppercase; 
    margin: 10px 0 24px; 
    line-height: 50px;
    text-align: center;
}

/**** Contact Page ****/
.contact-title{

    padding-top: 8px;
    font-size: 18px;
    position: relative;
    margin-bottom: 15px;
}

.flip-container, .front, .back {
    position:relative;
    width: 180px;
    height: 180px;
    z-index:2;
    margin: 0 auto
}
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    margin-bottom: 15px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 1;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.contact-top-overlay{
    position:relative;
    height:50px;
    margin-top: -500px; 
    background-color: rgba(76, 76, 76,0.6);
    z-index:1
}

.contact-hollow-frame{
    position:relative;
    background:none;
    margin-top: -490px; 
    border-top: 2px rgb(220, 220, 220) solid; 
    border-left: 2px rgb(220, 220, 220) solid;
    padding-left:1122px;
    height:490px;
    z-index:0
}

.contact-address{
    position: absolute;
    bottom: 40px;
    right: 156px;
}

/**** about us page ****/
.about-section{
    background-color: rgb(248, 248, 248);
}
.about-top-overlay{
    position:relative;
    height:50px;
    background-color: rgba(76, 76, 76,0.6);
    z-index:1;
}

.aboutUs-text{
    padding-top: 60px;
    position:relative;
    height:423px;
}

.about-carousel-caption{
    position:absolute;
    width:100%;
    top: 0;
    background-color: rgba(76, 76, 76,0.6);
    height: 50px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    z-index:1001 !important;
}
.about-hollow-frame{
    position:relative;
    background:none;
    border-top: 2px rgb(220, 220, 220) solid; 
    border-left: 2px rgb(220, 220, 220) solid;
    padding-left:1235px;
    z-index:1000;
}

.team-header{
    text-align: center;
}
.service-details {
    width: 360px;
    height: 180px;  
    overflow: hidden;
    position: relative;
    display:inline-block;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 45px;
}

.service-details img {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 180px;
    height: 100%;
    float: left;
    transition: all 0.8s;
    -moz-transition: all 0.8s;

}

.service-details:hover img {
    /*opacity: 0.4 !important;*/
}

.service-details .service-hover-text h3 {
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    font-weight:300;
    font-family: "Open Sans";
}

.service-details .service-hover-text h4 {
    padding: 0px;
    padding-bottom: 13px;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 90%;
    font-family: "Open Sans";
    text-transform:uppercase;
    border-bottom: 2px solid #000;
}

.service-details .service-hover-text p {
    padding-top: 13px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans";
}


.service-details .service-hover-text{
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 180px;
    padding: 3% 4%;
    background: #D90E0E;
    color: rgba(255,255,255,1);
/*  display: none;*/
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
    display: block !important;
    color: rgba(255,255,255,1);
    background:rgba(217,14,14,0.85);
    left: 0px;
    top: 0px;
}


.service-details .service-text {
    width: 180px;
    height: inherit;
    background: #000;
    float: left;
    position: absolute;
    left: 180px;
}

.service-details .service-text p {
    padding:100px 0px 0px 20px;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight:700;
    color: #fff;
}

.service-details .service-text p span {
    font-family: "Open Sans" !important;
}

.service-details .service-text a , .service-white .service-text {
    padding: 0px 0px 0px 20px;
    font-size: 14px !important;
    color:#FF5A22 !important;
    font-family: "Open Sans" !important;
    text-decoration: none !important; 
}

.service-details .service-text {
    float: left;
} 

.service-white {
    background: #eee !important;
    width: 180px !important;
    height: inherit !important;
}

.service-white p {
    color: #000 !important;
}
/**** service page ****/

.service-top-overlay{
    position:relative;
    height:50px;
    /*margin-top:-408px;*/
    background-color: rgba(76, 76, 76,0.6);
    z-index:0;
}
.service-hollow-frame{
    position:relative;
    background:none;
    /*height: 398px;
    margin-top:-398px;*/
    border-top: 2px rgb(220, 220, 220) solid; 
    border-left: 2px rgb(220, 220, 220) solid;
    padding-left: calc(1366px - 226.656px - 2px);
    z-index:1000;
}
.service-sidebar{
    padding:0;
}
.service{
    padding-left:5px;
    padding-right:5px;
}
.service li{
    list-style: none;
    margin-bottom:15px;
}
.service li .btn{
    width: 100%;
}

/**** project detail ****/
.detail-thumbnail{
    position:relative;
    height: 100px;
}

.content{
    position: relative;
}
/****    large screen   ****/
@media screen and (min-width: 1367px){
    
    .content, .content-wrapper, footer{
        width: 1366px !important;
        margin:0 auto !important;
    }
    .navbar-dmx{
        width: 1366px !important;
        min-height:92px;
        border-radius: 0;
        margin:0 auto !important;
    }
    /*.navbar-dmx .navbar-nav li a, .navbar-dmx .navbar-header{
        
    }*/
    .navbar-dmx .navbar-nav li a{

        height: 25px;
        padding-bottom: 0;
        padding-top: 0;
        z-index: 9999;
        margin-top: 67px;  
    }
    .navbar-dmx .navbar-nav li{
        line-height: 92px;
        height:92px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .project-overlay{
        position:relative;
        height: 80px;
        margin-top: -80px;
        padding-left: 110px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    .project-overlay h4, .project-overlay p{
        color: #fff;
    }
    .project-overlay h4{
        text-align: left;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .contact-hollow-frame{
        padding-left: 1137px;
    }
    .about-hollow-frame{
        padding-left:1250px;
    }
} 

/****    desktop   ****/
@media screen and (max-width: 1366px){

    .wrapper{
        /*min-height: 100%;
        margin-bottom: -142px;
        margin-bottom: 30px*/
    }
    .content-wrapper{
        position:relative;

        padding:0;
    }
    /**** HEADER ****/
    .navbar{
        margin-bottom: 0;
    }
    .navbar-dmx{
        min-height:92px;
        border-radius: 0;
       /* margin-bottom: 10px;*/
    }
    .navbar-dmx .navbar-content{
        padding:0;
    }
    /*.navbar-dmx .navbar-nav li a, .navbar-dmx .navbar-header{
        line-height: 92px;
        height:92px;
    }*/
    .navbar-dmx .navbar-nav li a{

        height: 25px;
        padding-bottom: 0;
        padding-top: 0;
        z-index: 9999;
        margin-top: 67px;  
    }
    .navbar-dmx .navbar-nav li{
        line-height: 92px;
        height:92px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .project-overlay{
        position:relative;
        height: 80px;
        margin-top: -80px;
        padding-left: 110px;
        padding-top: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
    .project-overlay h4, .project-overlay p{
        color: #fff;
    }
    .project-overlay h4{
        text-align: left;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .no-margin-row{
        margin-left:0;
        margin-right:0;
    }
    /**** FOOTER ****/
    .footer-certificate{
        padding-right: 0;
        margin-right: -15px;
    }
    
}
/****    mobile   ****/
@media screen and (max-width: 767px){
    #DMXNavbar{
        top:0;
    }
    .navbar-dmx .divider{
        display:none;
    }
    .navbar-brand img{
        display:none;
    }
    .frame-thin, .frame-thick, .top-overlay{
        display:none;
    }
    .project-overlay{
        position:relative;
        height: 50px;
        margin-top: -60px;
        padding-left: 20px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .project-overlay h4, .project-overlay p{
        color: #fff;
    }
    .project-overlay h4{
        text-align: left;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .detail-thumbnail{
        text-align: center;
    }
    /*** about us page ***/
    .about-carousel-caption{
        position:absolute;
        width:100%;
        top: 0;
        background-color: rgba(76, 76, 76,0.6);
        height: 30px;
        font-size: 14px;
        color: #FFFFFF;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
        z-index:1001 !important;
    }
}  


