/****** Util ******/
body{
	font-family: 'Lato', sans-serif;
}
body.body-bg-grey{
	background-color: rgb(245, 245, 245);
}
.btn{
	border-radius: 0;
}
a.disabled{
	pointer-events: none;
	background-color: rgba(230, 183, 0, 0.5);

}
.text-default{
	color: rgb(77, 77, 77);
}
.text-weight-mid{
	font-weight: 600;
}
.red-default{
	color: rgb(255, 26, 26);
}

.yellow-default{
	color: rgb(230, 183, 0);
}

.text-indent{
	text-indent: 1em;
}
.content-center{
	margin: auto;
}
.col-center{
	float: none;
	margin: 0 auto;
}
.col-padding-none{
	padding: 0;
}
.input-default, .select-default{
	width: 100%;
	margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: 1em;
}
.dd-default button{
	background: none;
	padding: 6px 10px;
	border: 1px solid #ccc;
}
.thumbnail-course{
	position: relative;
	margin-bottom: 2em;
	display: inline-block;
}
.thumbnail-course-template, .thumbnail-taking-template, .thumbnail-upcoming-template, 
.thumbnail-taken-template, .file-upload-template, .btn-remove-participant-template,
.hd-prerequisite-msg{
	display: none;
}
.img-course-thumbnail{
	position: relative;
	width: 100%;
}
.block-ellipsis {
  display: block;
  /*display: -webkit-box;*/
  max-width: 100%;
  color: rgb(230, 183, 0);
  height: 43px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-lang{
	padding-top: 1em;
	border-top: 1px solid rgb(0, 0, 0);
}
.course-thumbnail-btns{
	position: relative;
	padding: 0 2em 2em 2em;
	border-bottom: 2px solid rgb(0, 0, 0);
}
.course-thumbnail-btns a{
	text-decoration: none;
	color: rgb(255, 26, 26);
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}
.container-form-center > .row{
		display: flex;
    	height: 100%;
    	width: 100%;
}
.hide{
	display: none;
}
.fa-times{
	cursor: pointer;
}
.seperate{
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid rgb(204, 204, 204);
}

/******  Overwrite Bootstrap Class ******/
.row{
	margin-left: 0;
	margin-right: 0;
}
.container-fluid-padding-none, .container-padding-none{
	padding: 0;
}
.navbar{
	border-radius: 0;
}
.navbar-default a.navbar-brand{
	font-size: 40px;
	color: rgb(255, 26, 26);
	font-weight: 600;
}
.navbar-default .navbar-nav>li>a{
	color: rgb(77, 77, 77);
}
.navbar-inverse{
	margin-bottom: 0;
}
.dropdown-menu li{
	cursor: pointer;
}
.dropdown-menu li:hover{
	background-color: rgb(204, 204, 204);
	color: black;
}
.nav li.header-logout{
	display: none;
}
/****** FOOTER ******/
.navbar-inverse h4{
	color: rgb(255, 255, 255);
}
.block-text-subscribtion{
	display: block;
    /*display: -webkit-box;*/
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(255, 255, 255);
    margin-bottom: 1em;
}
.input-group-footer input{
	border: none; 
	height: auto;
	border-radius: 0;
	border-color: rgb(255, 255, 255);
}
.input-group-footer button{
	background-color: rgb(255, 203, 0);
	border: none; 
	border-radius: 0;
	border-color: rgb(255, 203, 0);
	color: rgb(255, 255, 255);
}
.input-group-footer button:hover{
	background-color: rgb(230, 183, 0);
}
.list-footer-resource{
	list-style-type: none;

}
.list-footer-resource li{
	padding: 0.5em;
}
.list-footer-resource li:first-child{
	padding: 0;
}
.list-footer-resource li a{
	text-decoration: none;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-size: 14px;
}
/****** INDEX PAGE ******/
.wrapper{

	background-color: rgb(242, 242, 242);
}
#carousel-index img{
	width: 100%;
}
.certificate-award .col-md-4{
	height: 10px;
}

.award h4, .course h4{
	text-align: center;
	border: none;
	border-top: 3px solid rgb(77, 77, 77);
	border-bottom: double;
	padding-top: 5px;
	padding-bottom: 5px;
}
.row-btn-viewAll{
	text-align: center;
	padding: 4em;
}
.row-btn-viewAll a.btn-viewAll{
	text-decoration: none;
    background-color: rgb(255, 203, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
	padding: 1em;
}
.row-btn-viewAll a.btn-viewAll:hover{
	background-color: rgb(230, 183, 0);
	border-color: rgb(230, 183, 0);
}

/****** COURSES PAGE *******/
.filter-bar{
	background-color: rgb(255, 26, 26);
	margin-top: 1em;
	margin-left: 30px;
	margin-right: 30px;
}
.filter-bar > .col-center{
	height: 100%;
}
.course-filter-bar{
	list-style-type: none;
	margin-bottom: 0;
}
.course-filter-bar > li{
	display: inline-block;
	height: 100%;
	color: rgb(255, 255, 255);
}
.cat-filter ul{
	border-radius: 0;
}
.dd-filter{
	background-color: rgb(255, 26, 26);
	border-radius: 0;
	border:	none;
	height: 100%;
	color: rgb(255, 255, 255);
}
.title-courses{
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 15px;
}

/****** CONTACT PAGE ******/
.content-contact{
	background-color: rgb(242, 242, 242);
}
.row-title-contact{
	background-color: rgb(255, 26, 26);
}
.row-title-contact h3{
	color: rgb(255, 255, 255);
	margin-top: auto;
    margin-bottom: auto;
    line-height: 2em;
    padding-left: 2em;
}
.contact-left-content, .contact-right-content{
	margin-top: 2em;
	margin-bottom: 2em;
}
.list-contact{
	list-style-type: none;
	width: 100%;
	border-width: 3px 0 3px 0;
	border-style: solid;
	border-color: rgb(38, 38, 38);
	padding: 0;
}
.list-contact li{
	padding: 1em 0 1em 1em;
}
.list-contact li:first-child{
	border-bottom: 2px solid rgb(179, 179, 179);
}
.list-contact td{
	font-size: 16px;
}
.map-pingtan{
	position: relative;
	width: 100%;
	height: 300px;
}
.form-contact-header{
	text-align: center;
	background: url(http://niiiick.com/files/blur-city-1.jpg);
	margin-bottom: 2em;
}
.form-contact-header h3{
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline-block;
    font-weight: 100;
    font-size: 2.8125em;
    font-size: 1.25em;
    color: #fff;
}
.contact-right-content form label{
	display: block;
}
.contact-right-content form input, .contact-right-content form textarea{
	width: 100%;
}
.contact-right-content form .text-input{
	margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: 1em;
}
.contact-right-content .form-row{
	margin-bottom: 1em;
}

.form-contact-header h1{
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: block;
    font-size: 2.8125em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}
.btn-reset-enquiry, .btn-submit-enquiry{
	font-size: 1.0625em;
    display: inline-block;
    padding: 0.74em 1.5em;
    color: #fff;
    border-width: 0 0 0 0;
    border-bottom: 5px solid;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.btn-reset-enquiry{
	background-color: rgb(166, 166, 166);
	border-bottom-color: rgb(140, 140, 140);
}
.btn-submit-enquiry{
	background-color: rgb(230, 183, 0);
	border-bottom-color: rgb(204, 162, 0);
}

/****** ABOUT US PAGE *******/

.row-title-about{
	background-color: rgb(255, 26, 26);
}
.row-title-about h3{
	color: rgb(255, 255, 255);
	margin-top: auto;
    margin-bottom: auto;
    line-height: 2em;
    padding-left: 2em;
}

.about-left-content, .about-right-content{
	margin-top: 2em;
	margin-bottom: 2em;
}
.about-left-content h5{
	font-weight: 600;
}
.about-left-content p{
	text-align: left;
}
.about-banner{
	margin-bottom: 1em;
}
.about-banner img{
	width: 100%;
}
.about-right-content h3{
	color: rgb(230, 183, 0);
}
.list-about{
	list-style-type: none;
	width: 100%;
	border-width: 3px 0 3px 0;
	border-style: solid;
	border-color: rgb(38, 38, 38);
	padding: 0;
}
.list-about li{
	padding: 1em 0 1em 1em;
}
.list-about li{
	border-bottom: 2px solid rgb(179, 179, 179);
}
.list-about li:last-child{
	border-bottom: none;
}
.list-about h3.news-date{
	font-size: 14px;
	color: rgb(140, 140, 140);
}
.list-about h3.news-title{
	font-size: 14px;
	color: rgb(255, 26, 26);
}
.list-about p.news-content{
	font-size: 14px;
	color: rgb(77, 77, 77);
}
.news-date{
	color: rgb(204, 204, 204);
}

/****** COURSE DETAIL PAGE ******/
.course-detail-content{
	background-color: rgb(242, 242, 242);
}
.row-course-detail{
	position: relative;
}
.course-detail-info{
	padding-top: 4em;
}
.course-detail-info-row{
	margin-bottom: 1.5em;
}
.course-detail-img img{
	width: 100%;
}
#btn-company-register, .btn-enrollment{
	font-size: 1.0625em;
    display: inline-block;
    padding: 0.74em 1.5em;
    cursor: pointer;
    color: #fff;
    border-width: 0 0 0 0;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: rgba(230, 183, 0, 1);
    width: 100%;
}
#btn-company-register:hover, .btn-enrollment:hover{
	text-decoration: none;
	color: #fff;
	background-color: rgb(204, 162, 0);
}
.list-course-content{
	list-style-type: none;
	padding-left: 0;
}
.course-info h3, .course-prerequisite h3{
	border-bottom: 3px solid rgb(153, 153, 153);
	margin-bottom: 1.5em;
	padding-bottom: 0.5em;
}
.course-info ul, .course-info p{
	margin-bottom: 2em;
}
.prerequisite a{
	text-decoration: none;
}
.warning-no-session{
	display: none;
}

/****** STUDENT PROFILE PAGE ******/
.content-profile{
	background-color: rgb(242, 242, 242);
}
.row-title-profile{
	background-color: rgb(255, 26, 26);
}
.row-title-profile h4{
	color: rgb(255, 255, 255);
	margin-top: auto;
    margin-bottom: auto;
    line-height: 2em;
    padding-left: 2em;
}
.sidebar-profile h3{
	border-bottom: 3px solid rgb(77, 77, 77);
	padding-bottom: 0.5em;
}
.row-title-profile a{
	color: rgb(255, 255, 255);
}
.list-document{
	padding-bottom: 2em;
	border-bottom: 3px solid rgb(77, 77, 77);
}
.list-document > li{
	padding: 0.3em;
	border-bottom: 2px solid rgb(191, 191, 191);
}
.list-document li i{
	color: rgb(191, 191, 191);
	cursor: pointer;
}
.list-document-titles, .list-session{
	display: none;
}
.list-document-titles li i{
	color: rgb(191, 191, 191);
	font-size: 10px;
	margin-top: 0.3em;
}
.list-opened{
	display: block;
}
.list-document, .list-document-titles, .list-outline, .list-session{
	padding-left: 0;
	list-style-type: none;
}
.list-document-titles li{
	padding: 0.2em;
}
.hd-session{
	cursor: pointer;
}
.result-profile{
	padding-top: 1em;
}
.result-profile h4{
	padding-left: 15px;
}

/******* LOGIN PAGE *******/

.login-content{
	margin: auto;
}
.login-content section{
	background-color: rgb(230, 230, 230);
	padding-top: 2em;
	border-width: 3px 0 3px 0;
	border-color: rgb(128, 128, 128);
	border-style: solid;
}
.login-content h3{
	color: rgb(230, 183, 0);
	margin-bottom: 1em;
}
.login-content .row-remember-me .pull-left, .login-content .row-remember-me .pull-right{
	padding: 0;
}
.login-content .row-remember-me .pull-right{
	text-align: right;
}
.btn-login{
	width: 100%;
	font-size: 1.0625em;
    display: inline-block;
    padding: 0.74em 1.5em;
    background-color: rgb(230, 183, 0);
    color: #fff;
    border-width: 0 0 0 0;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.btn-login:hover{
	background-color: rgb(204, 162, 0);
}
.form-login-row{
	margin-bottom: 1.5em;
}
.login-content section .input-login{
	width: 100%;
	margin: 0 0 0.5em 0;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #555;
    font-size: 1em;
}

/******* REGISTER COURSE COMPANY PAGE *******/
.template-nameTag, .template-participant{
	display: none;
}
.participant{
	display: block;
}
.nameTag{
	border: 1px solid #ccc;
	padding: 0.5em;
	margin-left: 1em;
	margin-bottom: 1em;
}
.btn-cancel{
	font-size: 1em;
    display: inline-block;
    padding: 0.74em 1.5em;
    color: rgb(0, 0, 0);
    border-width: 0 0 0 0;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}