/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2015, 10:31:10 PM
    Author     : YUZHE
*/

/**************************
***************************
Paymeny.php
***************************
**************************/
.form-control-feedback{
    width:50px
}
.panel-default {
    border-color: #FFFFFF
}
#tablehead{   
    border-top: 1px solid #008ba4;
    border-bottom: 1px solid #008ba4;
    color: #008ba4
}
.form-control{
    border-radius: 0px
}
.btn-primary{
    background-image: none
}
.btn-group-lg>.btn, .btn-lg{
    border-radius: 0px
}
.wizard li {
    display: inline;
    width: auto;
}
.wizard a:hover{
    text-decoration: none;
}
#orderTableBody{
    font-family: "Century Gothic";
    font-size: 15px;
}
.payment{border:1px solid #ededed;border-radius:5px;width:100%}
.payment td{text-align:center;}

#paymentForm #card_number {
  background-image: url(../img/images.png), url(../img/images.png);;
  background-position: 2px -121px, 260px -61px;
  background-size: 120px 361px, 120px 361px;
  background-repeat: no-repeat;
  padding-left: 54px;
  width: 225px;
}
#paymentForm #card_number.visa {
  background-position: 2px -163px, 260px -61px;
}
#paymentForm #card_number.visa_electron {
  background-position: 2px -205px, 260px -61px;
}
#paymentForm #card_number.mastercard {
  background-position: 2px -247px, 260px -61px;
}
#paymentForm #card_number.maestro {
  background-position: 2px -289px, 260px -61px;
}
#paymentForm #card_number.discover {
  background-position: 2px -331px, 260px -61px;
}
#paymentForm #card_number.valid.visa {
  background-position: 2px -163px, 260px -87px;
}
#paymentForm #card_number.valid.visa_electron {
  background-position: 2px -205px, 260px -87px;
}
#paymentForm #card_number.valid.mastercard {
  background-position: 2px -247px, 260px -87px;
}
#paymentForm #card_number.valid.maestro {
  background-position: 2px -289px, 260px -87px;
}
#paymentForm #card_number.valid.discover {
  background-position: 2px -331px, 260px -87px;
}