/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2015, 11:53:34 PM
    Author     : User
*/

.banner{
    float:none;
    margin:0 auto;
    margin-bottom: 30px;
    padding:0;
    border-bottom:1px solid #EDEDED;
}
.bannerPhoto{
    float:none;
    position:relative;
    padding:0;
}
.allocacocLogo{
    position:absolute;
    width: 200px;
    margin-left:30px;
    margin-top:-320px;
    z-index:1000;
}
.logoText{
    position:absolute;
    margin-left: 10px;
    margin-top: 23px;
    color: #0087A0;
    font-family: "Century Gothic";
    font-weight: bold;
}
.overlay{
    position:relative;
    width:100%;
    background-color:#fff;
    height:50px;
    margin-top:-50px;
    padding:0;
    padding-top:16.5px;
    z-index:1000;
}
.notification .cart-text-wrap{
    position:relative;
    width: 200px;
    height:50px;
    display:inline-block;
}
.notification .cartImg{
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.notification .cart-item-text{
    position: relative;
    width: 200px;
    height: 30px;
    display: inline-block;
    padding-left: 5px;
    line-height: 100%;
}
.notification .cart-item-text a{color:#525252 !important}
.notification .cart-item-text a:hover{color: #B82E8A !important;background:none !important}
.notification .item-qty{
    position: relative;
    display: inline-block;
    padding-left: 5px;
}
.cart-notification{
    display:none;
    position:absolute;
    background: #ffffff;
    top:50px;
    left:0;
    width:300px;
    height:100px;
    border:1px solid rgb(220, 220, 220);
    z-index: 99998;
    -webkit-box-shadow: 10px 10px 6px -6px #777;
    -moz-box-shadow: 10px 10px 6px -6px #777;
    box-shadow: 10px 10px 6px -6px #777;
}
.cart-notification-text{
    display:inline-block;
    width:200px;
    position:absolute;
    top:32.5px;
    left:100px;
}
.cart-notification-text a{
    text-decoration: none;
    color: rgb(0, 89, 112);
}
.tooltip-arrow{
    border: solid;
    border-color: rgb(0, 89, 112) transparent;
    border-width: 0px 6px 6px 6px;
    top: -6px;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99999;
}
.overlay-nav{
    padding-left:15px;
}
.overlay-nav-item{
    display: inline-block;
}
.overlay-nav > li{
    margin-left:20px;
    height:33.5px;
}
.overlay-nav > li:nth-child(1){
    margin-left:0px
}

.overlay-text{
    color: #000;
    font-weight: 400;
    font-size: 16px;
}
.overlay-text-white{
    color: #fff;
}
.category{
    float: none;
    margin:0 auto;
}
.category-thumbnail{
    margin-bottom: 20px;
}
.category-wrapper{
    text-align: center;
    text-decoration: none;
}
.each-product{
    margin-bottom: 10px;
}
.product-summary, .product-img{

    display: inline-block;
}
.product-summary{
    position: relative;
    top: 25%;
    left: 5%;
    width:200px;
    height:100px;
}
.product-overview{
    padding-top: 10px;
    padding-left: 80px;
    padding-bottom: 30px;
}
.product-overview .product-name{
    margin-bottom: 0;
}
.product-detail{
    float:none;
    margin:0 auto;
}
.price-lg{
    margin-top: 10px;
}
.form-wrapper .btn-group, .cart-form .input-group, .number-spinner {
    margin-bottom: 20px;
}
.form-wrapper .btn-group .dropdown-toggle{
    height:34px !important;
    width:20%;
    text-align: center;
}
.form-wrapper div:first-child .btn{
    border-radius: 0;
}
.cart-form .dropdown-menu{
    min-width: 0;
    border-radius: 0;
}
.form-wrapper{
    width: 70%;
}
.form-wrapper > div:first-child{
    width:40%;
}
.form-wrapper > div:first-child button{
    background-color: rgb(219, 219, 219);
}
.form-wrapper div:first-child button:first-child{
    width:80%;
    background-color: rgb(237, 237, 237);
}
.form-wrapper .dropdown-menu{
    width:100%;
}
.color-selection{
    display: block;
}

.color-selection > div{
    display: inline-block;
}
.color-selection > div:first-child{
    margin-right:20px;
}
.color-selection .color{
    padding:5px;
    border:1px solid rgb(219, 219, 219);
    margin-right: 5px;
}
.color-selection .color:hover{
    border:1px solid rgb(0, 89, 112);
}
.color-selection .color-highlight{
    border:1px solid rgb(0, 89, 112);
}
.color-selection{
    padding-left: 0;
}
.color-selection input[type="radio"]{
    display: none;
}
.color-selection .color label{
    position:relative;
    vertical-align: middle;
    margin-bottom: 0;
    width:20px;
    height:20px;
}
.qty-input{
    float:none !important;
}
.number-spinner {
    width:50%;
}
.number-spinner .input-group-btn .btn{
    border-radius: 0 !important;
    background-color: rgb(219, 219, 219);
}
.number-spinner input{    
    border-left:none;
}
.number-spinner .qty-text{
    padding-right: 20px;
}
.cart-button{
    width: 40%;
    border-radius: 0px;
    background-color: rgb(0, 89, 112);
    color:#fff;
}
.product-description{
    float:none;
    margin:0 auto;
    border-top: 1px solid #EDEDED;
    padding-top: 50px;
}
.single-characteristic{
    margin-bottom: 50px;
}
.char-description{
    position: relative;
    display: table;
}
.char-description p, .char-description ul, .char-description h4{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.cart-table thead{
    background-color: rgb(0, 89, 112);
    color: #fff;
}
.cart-table td{
    vertical-align: middle !important;
}
.cart-table .th-row > th{
    border-bottom:none;
}
.media{
    display: table;
}
.media-body{
    display:table-cell;
    vertical-align: middle;
}
/* checkbox aspect */
.checkbox-cartItem input[type="checkbox"]{
    display:none;
}
.checkbox-cartItem input[type="checkbox"]:not(:checked) + label:before,
.checkbox-cartItem input[type="checkbox"]:checked + label:before {
  content: '';
  position:absolute;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

/* checked mark aspect */
.checkbox-cartItem input[type="checkbox"]:not(:checked) + label:after,
.checkbox-cartItem input[type="checkbox"]:checked + label:after {
  content: " \2713";
  position:absolute;
  padding-left:3px;
  font-size: 14px;
  color: rgb(0, 89, 112);
  text-align: center;
  transition: all .2s;
}
/* checked mark aspect changes */
.checkbox-cartItem input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkbox-cartItem input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
.cart-amount{
    color:rgb(0, 89, 112);
}
.btn-remove{
    background:none;
    border:none;
}
.btn-checkOut{
    background-color: rgb(0, 89, 112);
    border-radius: 0;
    color:rgb(255,255,255);
}

/**************************
***************************
    Page loading overlay
***************************
**************************/
#loader-overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgba(25, 25, 25, 0.6);
    z-index:9999;
    display:none;
}
/***************************
****************************
    Cart.php Deletion Modal
****************************
***************************/

.btn-delete-item, .btn-cancel-delete{
    border-radius: 0;
    color: #fff;
    background-color: rgb(0, 89, 112);
}